@page
@model YGOCardSearch.Pages.CardsViewerModel
@{
    ViewData["Title"] = "CardViewer";
}


<h1>YuGiOh! TCG</h1>
<h1>enter a word to search</h1>>
<form method="GET"> 
    <div class="form-group">
        <div class="input-group">
            <input type="search"
                class="form-control"
                asp-for="Search"
                />
            <button class="btn btn-light">Search</button>
        </div>
    </div>
</form>
<table>
    @foreach (var card in Model.Cards) 
    {
    <tr>
        <td>@card.Name</td>
        <td>@card.Type</td>
        <td>@card.Desc</td>
        <td><img href="@card.CardImages[0].ImageUrlSmall" /></td>
        <td>@card.CardPrices[0].TcgplayerPrice.ToString()</td>
        
    </tr>
    }
</table>

