@page
@model YGOCardSearch.Pages.CardsViewerModel
@{
    ViewData["Title"] = "CardViewer";
}

<h1>YuGiOh! TCG</h1>
<h1>@Model.Card.Name</h1>>


<table>
    <tr>
        <img src="@Model.Card.CardImages[0].ImageUrl" alt="Alternate Text" />
    </tr>
    <tr>
        <td>@Model.Card.Name</td>
        <td>@Model.Card.Type</td>
        <td>@Model.Card.Desc</td>
        <td><img href="@Model.Card.CardImages[0].ImageUrlSmall" /></td>
        <td>@Model.Card.CardPrices[0].TcgplayerPrice.ToString()</td>
        
    </tr>
</table>

