@page
@using YGOCardSearch.Data.Models;
@model YGOCardSearch.Pages.DeckBuilder

@{
    var TotalDeckCards = Model.Deck.ExtraDeck.Count() + Model.Deck.MainDeck.Count();
    var topAtkCard = Model.Deck.MainDeck.OrderByDescending(c => c.Atk ?? 0).FirstOrDefault();
                            

    int pageSize = 10;
    int totalPages = (int)Math.Ceiling((double)Model.SearchCards.Count / pageSize);
    int currentPage = Request.Query.ContainsKey("page") ? Convert.ToInt32(Request.Query["page"]) : 1;
    int startIndex = (currentPage - 1) * pageSize;
    int endIndex = Math.Min(startIndex + pageSize - 1, Model.SearchCards.Count - 1);
}

<!DOCTYPE html>
<html>
<head>
    <!-- Include your necessary CSS and meta tags here -->
    <!-- Include script references -->
    <script type="module" src="/js/deck.js"></script>
    <script type="module" src="/js/rendering.js"></script>
    <script type="module" src="/js/interaction.js"></script>
    <script type="module" src="/js/deckBuilder.js"></script>
    <script type="module" src="/js/doughnut.js"></script>
    
    <!-- Razor Page HTML -->
</head>
<body>
    <div class="DeckBuilder_Deck_Options">
        <button class="btn btn-warning" type="button" id="saveDeckButton">SAVE DECK</button>
        <button class="btn btn-dark" type="button" id="sortDeckButton">Sort</button>
        <button class="btn btn-danger" id="clearDeckButton">Clear</button>
        <button class="btn btn-secondary" id="shuffleDeckButton">Shuffle</button>
        
    </div>
    
    @*deck-section and cards-section*@
    <div class="split-section">
        <div class="detail-dection">

        </div>
        <div class="deck-section">
            <div class="DeckBuilder_DeckInfo">
                <div class="chartContainer">
                    <div class="chartImage">
                        <div id="doughnutChart" class="chart"></div>
                    </div>
                </div>
                <div class="infoContainer">
                    <h1>Deck Name: @Model.Deck.DeckName</h1>
                    <span>
                        <a class="cool-button" asp-page="/HandTesting" asp-route-deck="@Model.Deck">
                            Hand Testing
                        </a>
                    </span>
                    <div class="highest-card">
                        <h2>Highest atk card:</h2>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Attack</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (topAtkCard != null)
                                {
                                    <tr>
                                        <td>@topAtkCard.Name</td>
                                        <td>@topAtkCard.Type</td>
                                        <td>@topAtkCard.Atk</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3">No cards found.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>       
                    
                </div> 
            </div>
            <!-- Deck content will be added dynamically using JavaScript -->
            <div class="DecksContainer">
                <div class="DeckBuilder_DeckCards_Container">
                    <h2>Main Deck</h2>
                    <span class="main-deck-card-count" id="mainDeckCardCount"></span>
                    <div class="DeckBuilder_Container_MainDeck" id="main-deck" data-deck-type="MainDeck" ondrop="drop(event)" ondragover="dragOver(event)" ondragstart="dragStart(event)"></div>
                    <div class="RemoveFromDeckArea" id="remove-from-main-deck" ondrop="drop(event)" ondragover="dragOver(event)"></div>
                    <h2>Extra deck</h2>
                    <div class="extra-deck-card-count" id="extraDeckCardCount"></div>
                    <div class="DeckBuilder_Container_ExtraDeck" id="extra-deck" data-deck-type="ExtraDeck" ondrop="drop(event)" ondragover="dragOver(event)"></div>
                    <h2>Side deck</h2>
                    <div class="side-deck-card-count" id="sideDeckCardCount"></div>
                    <div class="DeckBuilder_Container_SideDeck" id="side-deck" data-deck-type="SideDeck" ondrop="drop(event)" ondragover="dragOver(event)"></div>
                </div>
            </div>
        </div>
        <div class="cards-section" ondrop="drop(event)" ondragover="dragOver(event)">
            <div class="DeckBuilder_CardSearch_Container">
                


                <form method="GET">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search"
                                   class="form-control"
                                   id="searchInput"
                                   asp-for="searchQuery"  />
                            <button class="btn btn-light">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            @*Where the searched cards will display*@
            <div class="DeckBuilder_CardSearch_JS">
            </div>

            


        </div>
    </div>
    <div class="remove-area" > <!-- ondrag="dragStart(event)" ondragover="dragOver(event)" ondrop="drop(event)"-->
        <img id="remove-area" class="remove-area" src="/images/trash-bin.png" ondrag="dragStart(event)" ondragover="dragOver(event)" ondrop="drop(event)"/>
    </div>

    
    <!-- Include necessary JavaScript files here -->
@section Scripts {


        <script>
            // Expose the deck data as JavaScript variables
            var deckData = @Html.Raw(Json.Serialize(Model.Deck));
            var mainDeckData = @Html.Raw(Json.Serialize(Model.Deck.MainDeck));
            var extraDeckData = @Html.Raw(Json.Serialize(Model.Deck.ExtraDeck));
            var sideDeckData = @Html.Raw(Json.Serialize(Model.Deck.SideDeck));
            var searchedCards = @Html.Raw(Json.Serialize(Model.SearchCards));
            // For testing purposes only. todo: delete this
            var testCard = @Html.Raw(Json.Serialize(Model.testCard));
        </script>
        




}
</body>

</html>
