@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    static double GetCurrency(double tcgCardPrice, double usdPrice) 
    {
        return tcgCardPrice * usdPrice;
    }
}

<div class="text-center">
    <h1>YuGiOh! TCG</h1>
    <h1>search for cards</h1>>
</div>

<form method="GET">
    <div class="form-group">
        <div class="input-group">
            <input type="search"
                   class="form-control"
                   asp-for="Search" />
            <button class="btn btn-light">Search</button>
        </div>
    </div>
</form>
<table class="table table-dark">
    @foreach (var card in Model.Cards)
    {
    <tr>
        <td>@card.Name</td>
        <td>@card.Type</td>
        <td>@card.Desc</td>
        <td><img src="@card.CardImages[0].ImageUrlSmall" /></td>
        <td>
            $
            @card.CardPrices[0].TcgplayerPrice.ToString()
            usd
            
        </td>
        <td>$@GetCurrency(Convert.ToDouble(card.CardPrices[0].TcgplayerPrice), 20.55). mxn </td>
        <td>
            <a class="btn btn-link"
               asp-page="CardViewer"
               asp-route-id="@card.Id">
               View more...
            </a>
        <td>

    </tr>
    }
</table>
