@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">ygoprodeck API here.</a>.</p>
</div>
<h1>YuGiOh! TCG</h1>
<h1>enter a word to search</h1>>
<form method="GET">
    <div class="form-group">
        <div class="input-group">
            <input type="search"
                   class="form-control"
                   asp-for="Search" />
            <button class="btn btn-light">Search</button>
        </div>
    </div>
</form>
<table class="table table-dark">
    @foreach (var card in Model.Cards)
    {
    <tr>
        <td>@card.Name</td>
        <td>@card.Type</td>
        <td>@card.Desc</td>
        <td><img src="@card.CardImages[0].ImageUrlSmall" /></td>
        <td>$
            @card.CardPrices[0].TcgplayerPrice.ToString() 
            usd
        </td>
        <td>$@{} mxn</td>

    </tr>
    }
</table>
