@page
@using System.Web
@model YGODeckBuilder.Pages.DecksManager

@{
    ViewData["Title"] = "Decks Manager";
    var defaultNewDeckName = "new_deck_name";
}
<head>
    <link rel="stylesheet" href="~/css/decksManager.css">
    <script src="/js/decksManager.js"></script>
</head>

<h2 class="mb-4">Decks Manager</h2>

<div class="container">
    <div class="deck-menu">
        <div class="list-group-item d-flex justify-content-between align-items-center bg-dark border-light">
            <div class="btn-group" role="group" aria-label="Decks Menu">
                <button type="button" class="btn btn-success mr-1" id="btnNewDeck" onclick="showNewDeckInput('@defaultNewDeckName')">New</button>
                <button type="button" class="btn btn-success mr-1" id="btnLoadDeck" onclick="loadUserDeck()">Load</button>
                <a class="btn btn-primary mr-1" href="https://ygoprodeck.com/tournaments/top-archetypes/">Browse</a>
            </div>
        </div>
    </div>
    @if (Model.Decks.Any())
    {
        <div class="list-group bg-dark text-light">
            @foreach (var deck in Model.Decks)
            {
                <div class="list-group-item d-flex justify-content-between align-items-center bg-dark border-light">
                    <a asp-page="/DeckBuilder" asp-route-DeckFileName="@deck.DeckName" class="text-white text-uppercase">@deck.DeckName</a>
                    <div class="btn-group" role="group" aria-label="Deck Actions">
                        <a class="btn btn-primary mr-1" asp-page="/DeckBuilder" asp-route-DeckFileName="@deck.DeckName">Edit</a>
                        <button type="button" class="btn btn-success mr-1" id="btnDuplicateDeck" onclick="duplicateDeck('@deck.DeckName')">Duplicate</button>
                        <button type="button" class="btn btn-warning mr-1" id="btnRenameDeck" onclick="showRenameInput('@deck.DeckName')">Rename</button>
                        <button type="button" class="btn btn-danger" id="btnDeleteDeck" onclick="deleteDeck('@deck.DeckName')">Delete</button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            No decks found. Please create a new deck.
        </div>
    }
</div>


